<nav class="navbar navbar-dark px-4" style="background-color: #000;">
    <span class="navbar-brand mb-0">Dashboard</span>
    <button type="button" class="btn btn-link text-white text-decoration-none signout-btn" (click)="logout()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="me-1">
            <path d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
        Sign Out
    </button>
</nav>

<div class="container py-4">
    <h2 class="mb-3">Overview</h2>
    <div class="row mb-5">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-white">
                    <strong>Card Title</strong>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart [data]="donutChartData" [type]="'doughnut'"[options]="donutChartOptions"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-white">
                    <strong>Card Title</strong>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart [data]="barChartData" [type]="'bar'" [options]="barChartOptions"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mb-3">User List</h2>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered bg-white text-center align-middle">
                <thead class="thead-light">
                    <tr>
                        <th style="width: 60px;">#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userData; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.username }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>